/*  your css code here. If applicable */
*{
	padding: 0;
	margin: 0 ;
}
body{
	background-color: #f5f5f5;
}

header > h1{
	background-color:#011e29;
	color:white;
	padding: 15px;
	margin: 10px 10px;
	display:flex;
	justify-content: center;
	font-size:30px;
}
.content{
	display:flex;
	gap: 10px;
}
.fresh{
	padding: 30px;
	background-color: white;
	border: 2px solid red;
	margin
}